*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, serif;

}

.hyperlinks div {
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15%;
    column-gap: 5%;
    row-gap: 50px;
    padding-left: 10%;
    text-decoration: none;
    list-style: none;
    overflow: hidden;

}

/* Text designs */
.hyperlinks:after {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}


/* Add a black background color to the top navigation */
.container {
    background-color: #5b4a3b;
    overflow: hidden;

}
  
/* Style the links inside the navigation bar */
.container a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
/* Change the color of links on hover */
.container a:hover {
    background-color: #ddd;
    color: rgb(0, 0, 0);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

.container image {
    width: 100%;
}
  
/* Add a color to the active/current link */
.container a.active {
    background-color: #04AA6D;
    color: white;
}

/*settings for web page frame*/
[class*="col-"] {
    float: left;
    padding: 10px;
    width: 100%;
    overflow: hidden;

}

header {
    background-color: #07493b;
    text-align: center;

}


body {
    background-color: #eff1fc5b;
    font-family: "Helvetica Neue", Arial, sans-serif;

    min-height: 100vh;

    display: flex;
    flex-direction: column;
    
}

.row::after {
    content: "";
    clear: both;

}

footer {
    background-color: #bd9774;
    color: #1d2a1b;
    text-align: center;
    list-style: none;
    text-decoration: none;

    height: 200px;
    width: 100%;
    padding: 10px;
    
    margin-top: auto;
    
}

footer h2{
    text-decoration: underline;
    padding: 10px;
}

footer a:hover{
    color: #717171;
}


/*settings for images*/
[class*="side_image"] {
    width: 200px;
    height: 150px;
    
}


[class="Logo"] {
    width: 300px;
    height: 250px;
    float:center;
    
}

[class*="main_Logo"] {
    width: 200px;
    height: 150px;
    align-self: middle;
    padding: 10px;
}

/* rounded background for text*/
.p1 {
    border-radius: 10px;
    background-color: #f0f0f0;
    padding: 5px;
    margin: 5px;
}

/*youtube video*/
iframe {
    float:left;
    overflow:hidden;
}

/* Table settings */

table,tr,td {
            border: 1px solid black;

            text-align: center;

            margin-left: auto;
            margin-right: auto;
            padding: 15px;

}

th {
    height: 25px;
}

.graph_buttons{
    text-align: left;
    padding:10px;
    
}

/* For insert data table */
form {
    
    padding: 20px;
    padding-left: 20px;
    
    width: 60%;
    height: auto;

    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    
    text-align: center;
    background-color: #53723a;
    border-radius: 5px;
    border: 3px solid
    
}

#first {
    padding: 10px;
    margin: 5px;
    display: inline-block;
    width: 40%;
    float: left;
    background-color: #d8d8d85f;

    overflow: hidden;
}

#second {
    padding: 10px;
    margin:10px;
    display: inline-block;
    width: 40%;
    overflow:hidden;
    background-color: #d8d8d85f;
}

#third {
    padding: 10px;
    display: inline-block;
    width: 100%;
    overflow: hidden;

}

#fourth{
    align-items: center;
}
/*insert data column for text*/
.insert{
    background-color: #d8d8d85f;
    padding:10px;
    margin:10px ;
}


.berry{    /*logo in about us*/
    align-items: middle;
    width: 50%;
    margin:auto;
}
/*About us intro*/
.agenda{
    float: left;
    padding: 50px 200px;
    
}

.intro{ /*the info text*/
    position: center;
    padding: 20px

}

/*Our goals and values text*/
.values{
  padding: 20px;
}

.goals{
    
    padding:10px; 
    background-color: #bcdacf90;
    position:center;
    padding:50px 200px; 
    width:70%;
    
}

/* show data styles */
#show_buttons {
    margin-left: 25px;

    display: block;

    width: 15%;
    min-height: 100px;

    float: left;
   

    position: relative;
    
    border: 1px solid#04AA6D;
    background-color: #53723a;
    padding: 10px;

    
}

#show_data_buttons {
    border: 1px solid pink;
    margin:5px;
    text-align: left;
    padding: 10px
}

/* For responsive website */
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

/*Hover over pictures for surprises*/

.column {
    position: relative;
    width: 100%;
    
}
.side_image {
    opacity: 1;
    display: block;
    width: 50%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    margin-left: auto;
    margin-right: auto;


}


.column:hover .side_image {
    opacity: 0.3;
}
  
.column:hover .middle {
    opacity: 1;
}
.overlay {
    position: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 50%;
    opacity: 0;
    transition: .5s ease;
    background-color: #92bec49b;
  }
  
  .column:hover .overlay {
    opacity: 1;
  }
  
/*Text inside the hoverable pic*/
.text {

    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
   
}

.text a{
    text-decoration: underline;
    font-size: 25px
}

.text a:hover{
    color:#717171
}
/*This is where hover functions end*/

/*centering pics*/
.staff{
    margin-left:10px;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 16px;
}

.slider-frame{
    overflow: hidden;
    height: 800px;
    width: 1200px;
    margin-left: 360px;
    margin-top: 20px;
}


/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    max-height: 350px;
    position: relative;
    margin: auto;
}
  
/* Hide the images by default */
.mySlides {
    display: none;
    
    
}
.mySlides img{
    height: 500px;
    width: 1000px;
    object-fit: cover;
}
  
/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
  
/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #717171;
}
  
/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.vision{
    padding: 50px
}

/*settings for canvas*/

canvas {
    padding: 2%;
}

